@model Final.Models.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/Login.css" rel="stylesheet">
</head>
<body >
    <form class="form-signin bg-l">
        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal text-center">Inicar sesion</h1>
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input type="text" id="inputuser" class="form-control" placeholder="Usuario" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
        <div class="radio mb-3">
            <label><input type="radio" value="admin" name="select">  Administrador</label><br />
            <label><input type="radio" value="admin" name="select">  Doctor</label><br />
            <label><input type="radio" value="admin" name="select">  Asistente</label>
        </div>
        <button class="btn btn-lg btn-danger btn-block" type="button" onclick="location.href='@Url.Action("youtube.com","ss")'">Entrar</button>
        <p class="mt-5 mb-3 text-muted">&copy; Copyright 2018-2019</p>
    </form>

    <!--
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>-->
</body>
</html>
